@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
body {
  background-color: #fff;
}
.merchandise-wrapper {
  width: 100%;
  max-width: 1350px;
  background-color: #e6d3d4;
}

.merch-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
.merch-header-img {
  width: 70px;
  border: 5px solid #7f132b;
  border-radius: 10px;
}
.merch-header-content .active {
  border: 5px solid green;
}
.merch-header-content img {
  width: 100%;
}
.merch-content-card {
  display: none;
  margin-bottom: 20px;
}
.active {
  display: block;
}
.merch-card-img {
  width: 47%;
  text-align: center;
  box-shadow: 3px 3px 5px 3px #7f132b;
  margin: auto;
}
.merch-card-img img {
  width: 100%;
}
.merch-card-container {
  padding: 10px;
}
.merch-card-content {
  padding: 0px 20px;
}
.merch-card-content-header h1 {
  font-size: 1.5rem;
  margin-top: 10px;
}
.merch-card-content-header h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
.merch-price {
  font-size: 0.9rem;
  font-weight: 900;
}
.merch-price span {
  font-size: 3rem;
  color: #7f132b;
}
.merch-prod-details-header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
}
.prod-desc-table {
  width: 90%;
  margin-top: 10px;
}
.prod-desc-table th,
tr {
  background-color: #fff;
  border: 1px solid #e6d3d4;
}
.prod-desc-table td {
  padding: 10px 10px;
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  .merch-card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .merch-card-img {
    width: 340px;
    margin: 0;
  }
  .merch-card-content-header h1 {
    font-size: 1.6rem;
    margin-top: 0px;
  }
  .merch-card-content-header h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .merch-price span {
    font-size: 1.8rem;
  }
  .prod-desc-table-cont {
    width: 100%;
  }
  .prod-desc-table-cont table {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .merchandise-wrapper {
    width: 100%;
    max-width: 1350px;
    background-color: #e6d3d4;
    margin: 0 auto;
  }
  .merch-wrapper-container {
    display: flex;
  }
  .merch-header {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .merch-content {
    width: 90%;
  }
  .merch-header-content {
    margin-bottom: 10px;
  }
  .merch-card-container {
    display: flex;
  }
  .merch-card-img {
    margin: 0;
    width: 420px;
    height: min-content;
  }
  .merch-card-content {
    width: auto;
  }
  .merch-card-content-header {
    width: 100%;
  }
  .merch-card-content-header h1 {
    font-size: 1.4rem;
    margin-top: 0px;
  }
  .merch-card-content-header h3 {
    font-size: 1.2rem;
    margin: 15px 0px;
  }
  .merch-prod-details-header {
    font-size: 1.3rem;
  }
  .prod-desc-table td {
    padding: 14px 10px;
  }
  .prod-desc-table {
    width: 100%;
  }
}

/* Form */

.merch-form-wrapper {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 10px;
}
.merch-form-header {
  margin: 10px 0px;
}
.merch-form-container {
  width: 100%;
}
.merch-form-element-container {
  display: flex;
  flex-direction: column;
}
.merch-form-element {
  width: 100%;
  margin: 10px;
}
.merch-form-element label {
  display: inline-block;
  margin: 5px auto;
  font-size: 1rem;
  width: 40%;
}
.merch-form-element input,
.merch-form-element select {
  height: 35px;
  width: 50%;
  box-shadow: 2px 2px 6px 1px #e6d3d4;
  outline: none;
  border: 1px solid #fff;
  padding: 5px;
}
#merch-checkbox input {
  width: 10px;
  display: inline-block;
  box-shadow: none;
  height: auto;
}
#merch-checkbox label {
  width: 90%;
}

@media screen and (min-width: 820px) {
  .merch-form-element-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .merch-form-element {
    width: 45%;
    margin-top: 0px;
  }
  .merch-form-element label {
    display: block;
    width: 100%;
  }
  .merch-form-element input,
  .merch-form-element select {
    width: 90%;
    padding: 20px 15px;
  }
  #merch-additional,
  #merch-checkbox {
    width: 100%;
  }
  #merch-additional input {
    width: 88%;
  }
  #merch-checkbox input {
    display: inline-block;
    box-shadow: none;
    width: 20px;
    height: 15px;
  }
  #merch-checkbox label {
    display: inline;
    width: 50%;
    height: 2rem;
  }
  #merch-submit {
    width: 100%;
    text-align: center;
  }
  input[name='merchSubmit'] {
    width: 100px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #7f132b;
    color: #fff;
    padding: 5px;
    margin: 0 auto;
  }
}
